.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 26px 0;

  @include tablet() {
    padding: 20px 34px 0;
    width: 100%;
  }

  &__text {
    color: $white;
  }
}