.container {
    background-color: #302c42;
    height: 130vh;
    padding: 20px;
  }
  .main {
    display: flex;
    padding-top: 50px;
    height: 80vh;
    justify-content: center;
  }
  .hidden {
    display: none;
  }